body {
    margin: 0;
    padding: 0;

    height: 100vh;
    width: 100vw;
}

/* Primera pantalla */

.designScreen1 {
    background-color: black;

    height: 100vh;
    width: 100vw;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#start {
    width: 36.125em;
    height: 9.5em;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Segunda pantalla */

.designScreen2 {
    background-color: black;

    height: 100vh;
    width: 100vw;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.personajes {
    height: 40em;
    width: 80em;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.personajesArriba {
    height: 20em;
    width: 80em;

    display: flex;
    flex-direction: row;
}

.personajesAbajo {
    height: 20em;
    width: 80em;

    display: flex;
    flex-direction: row;
}

.fighterChoosing {
    height: 20em;
    width: 20em;
}

.fighterSelection {
    height: 20em;
    width: 40em;

    background-color: black;
    border-color: white;
    display: flex;
    flex-direction: row;
}

.fighterSelected {
    -webkit-filter: grayscale(100%); 
    filter: grayscale(100%);
}

/* Tercera pantalla */

.designScreen3 {
    background-color: black;

    height: 100vh;
    width: 100vw;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Cuarta pantalla */

.designScreen4 {
    background-color: black;

    height: 100vh;
    width: 100vw;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Quinta pantalla */

.designScreen5 {
    background-color: black;

    height: 100vh;
    width: 100vw;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.personajeSeleccionado1luchador1 {
    height: 70.313em;
    width: 31.25em;

    background-image: url(../img/queenDePieIzq.png);
}

.personajeSeleccionado1luchador2 {
    background-image: url();
}

.personajeSeleccionado1luchador3 {
    background-image: url();
}

.personajeSeleccionado1luchador4 {
    background-image: url();
}

.personajeSeleccionado1luchador5 {
    background-image: url();
}

.personajeSeleccionado1luchador6 {
    background-image: url(../img/sansDePieIzq.png);
}

.personajeSeleccionado1luchador7 {
    background-image: url();
}

.personajeSeleccionado1luchador8 {
    background-image: url();
}

/* Sexta pantalla */

.designScreen6 {
    background-color: black;

    height: 100vh;
    width: 100vw;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}