@font-face {
    font-family: "PixelOperator";
    src: url("/assets/PixelOperator-Bold.ttf") format("truetype")
    local("PixelOperator-Bold.ttf") format("truetype");
  }

body {
    margin: 0;
    padding: 0;

    height: 100vh;
    width: 100vw;
}

/* Primera pantalla */

.designScreen1 {
    background-color: black;

    height: 100vh;
    width: 100vw;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#start {
    width: 36.125em;
    height: 9.5em;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Segunda pantalla */

.designScreen2 {
    background-color: black;

    height: 100vh;
    width: 100vw;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.personajes {
    margin: 0;
    padding: 0;

    height: 80em;
    width: 80em;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.personajes1 {
    margin: 0;
    padding: 0;

    height: 20em;
    width: 80em;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.personajes2 {
    margin: 0;
    padding: 0;

    height: 20em;
    width: 80em;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.personajesArriba1 {
    margin: 0;
    padding: 0;

    height: 20em;
    width: 80em;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.personajesAbajo1 {
    margin: 0;
    padding: 0;

    height: 20em;
    width: 80em;

    display: flex;
    align-items: center;
    justify-content: center;
}

.posiLuch1 {
    margin: 0;
    padding: 0;

    height: 20em;
    width: 20em;

    display: flex;
    align-items: center;
    justify-content: center;
}

.posiLuch2 {
    margin: 0;
    padding: 0;
    
    height: 20em;
    width: 20em;

    display: flex;
    align-items: center;
    justify-content: center;
}

.fighterChoosing1 {
    margin: 0;
    padding: 0;

    height: 20em;
    width: 20em;

    display: flex;
    align-items: center;
    justify-content: center;

    background-image: url(../img/seleccionQueen.png);
    background-size: cover;
}

.fighterChoosing2 {
    margin: 0;
    padding: 0;

    height: 20em;
    width: 20em;

    display: flex;
    align-items: center;
    justify-content: center;

    background-image: url(../img/seleccionSusie.png);
    background-size: cover;
}

.fighterChoosing3 {
    margin: 0;
    padding: 0;

    height: 20em;
    width: 20em;

    display: flex;
    align-items: center;
    justify-content: center;

    background-image: url(../img/seleccionAnnoyingDog.png);
    background-size: cover;
}

.fighterChoosing4 {
    margin: 0;
    padding: 0;

    height: 20em;
    width: 20em;

    display: flex;
    align-items: center;
    justify-content: center;

    background-image: url(../img/seleccionRalsei.png);
    background-size: cover;
}

.fighterChoosing5 {
    margin: 0;
    padding: 0;

    height: 20em;
    width: 20em;

    display: flex;
    align-items: center;
    justify-content: center;

    background-image: url(../img/seleccionTemmie.png);
    background-size: cover;
}

.fighterChoosing6 {
    margin: 0;
    padding: 0;

    height: 20em;
    width: 20em;

    display: flex;
    align-items: center;
    justify-content: center;

    background-image: url(../img/seleccionSans.png);
    background-size: cover;
}

.fighterChoosing7 {
    margin: 0;
    padding: 0;

    height: 20em;
    width: 20em;

    display: flex;
    align-items: center;
    justify-content: center;

    background-image: url(../img/seleccionNoelle.png);
    background-size: cover;
}

.fighterChoosing8 {
    margin: 0;
    padding: 0;

    height: 20em;
    width: 20em;

    display: flex;
    align-items: center;
    justify-content: center;

    background-image: url(../img/seleccionBerdly.png);
    background-size: cover;
}

.fighterSelection {
    height: 20em;
    width: 40em;

    background-color: rgb(138, 133, 133);

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.fighterSelected1 {
    height: 20em;
    width: 20em;

    display: flex;
    align-items: center;
    justify-content: center;

    background-image: url(../img/seleccionQueenBYN.png);
}

.fighterSelected2 {
    height: 20em;
    width: 20em;

    display: flex;
    align-items: center;
    justify-content: center;

    background-image: url(../img/seleccionSusieBYN.png);
}

.fighterSelected3 {
    height: 20em;
    width: 20em;

    display: flex;
    align-items: center;
    justify-content: center;

    background-image: url(../img/seleccionAnnoyingDogBYN.png);
}

.fighterSelected4 {
    height: 20em;
    width: 20em;

    display: flex;
    align-items: center;
    justify-content: center;

    background-image: url(../img/seleccionRalseiBYN.png);
}

.fighterSelected5 {
    height: 20em;
    width: 20em;

    display: flex;
    align-items: center;
    justify-content: center;

    background-image: url(../img/seleccionTemmieBYN.png);
}

.fighterSelected6 {
    height: 20em;
    width: 20em;

    display: flex;
    align-items: center;
    justify-content: center;

    background-image: url(../img/seleccionSansBYN.png);
}

.fighterSelected7 {
    height: 20em;
    width: 20em;

    display: flex;
    align-items: center;
    justify-content: center;

    background-image: url(../img/seleccionNoelleBYN.png);
}

.fighterSelected8 {
    height: 20em;
    width: 20em;

    display: flex;
    align-items: center;
    justify-content: center;

    background-image: url(../img/seleccionBErdlyBYN.png);
}

/* Tercera pantalla */

.designScreen3 {
    background-color: black;

    height: 100vh;
    width: 100vw;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Cuarta pantalla */

.designScreen4 {
    background-color: rgb(32, 32, 32);

    height: 100vh;
    width: 100vw;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: baseline;
}

.topFightScreen {
    height: 6em;
    width: 90em;

    background-color: blue;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.bottomFightScreen {
    height: 36em;
    width: 90em;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.playerContainer {
    height: 32em;
    width: 44em;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.fighterFightDisplay {
    height: 32em;
    width: 30em;

    display: flex;
    align-items: end;
    justify-content: center;
}

.foto {
    height: 32em;
    width: 17em;

    display: flex;
    align-items: flex-end;
    justify-content: center;

    object-position: bottom;
    object-fit: contain;

    background-size: 30em;
    background-position: bottom center;
}

/* Quinta pantalla */

.designScreen5 {
    background-color: black;

    height: 100vh;
    width: 100vw;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Sexta pantalla */

.designScreen6 {
    background-color: black;

    height: 100vh;
    width: 100vw;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}